<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
		<add name="OwnRadio" connectionString="Server=localhost;Port=5432;database=ownRadioRdev;password=123;user id=postgres;SyncNotification=true" providerName="Npgsql" />
	</connectionStrings>
</configuration>